---
import Button from '@/components/Buttons/Button.astro'
// links
const links = ['Recidencies', 'Our Value', 'Contact Us', 'Get Started']
---

<nav class="flex-center">
  <ul class="flex-center text-white">
    {
      links.map(link => (
        <li class="hover:opacity-90">
          <a href="">{link}</a>
        </li>
      ))
    }
  </ul>
  <Button title="Contact" otherStyles="blue-gradient" />
</nav>
